In [1]:
import pandas as pd
import numpy as np

In [82]:
df_race = pd.DataFrame()

years = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']

for year in years:
    df = pd.read_csv(f"Data/ACS{year}_race.csv")
    df['year'] = year
    df = df[['GEO_ID','year', 'NAME', 'B02001_001E', 'B02001_002E','B02001_003E', 'B02001_004E',
       'B02001_005E', 'B02001_006E', 'B02001_007E', 'B02001_008E', 'B02001_009E', 'B02001_010E' ]]
    df_race = pd.concat([df_race, df], axis=0)
df_race.head()

,GEO_ID,year,NAME,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E
0,Geography,2010,Geographic Area Name,Estimate!!Total,Estimate!!Total!!White alone,Estimate!!Total!!Black or African American alone,Estimate!!Total!!American Indian and Alaska Na...,Estimate!!Total!!Asian alone,Estimate!!Total!!Native Hawaiian and Other Pac...,Estimate!!Total!!Some other race alone,Estimate!!Total!!Two or more races,Estimate!!Total!!Two or more races!!Two races ...,Estimate!!Total!!Two or more races!!Two races ...
1,1400000US36001000100,2010,"Census Tract 1, Albany County, New York",2308,875,1207,0,10,0,122,94,73,21
2,1400000US36001000200,2010,"Census Tract 2, Albany County, New York",5506,633,4261,0,92,0,104,416,0,416
3,1400000US36001000300,2010,"Census Tract 3, Albany County, New York",6471,3047,2795,0,151,0,252,226,61,165
4,1400000US36001000401,2010,"Census Tract 4.01, Albany County, New York",2211,1938,204,30,22,0,0,17,17,0

In [83]:
# change headers
df_race.columns = df_race.iloc[0,:]

# limit to NYC counties
df_race = df_race[df_race["Geographic Area Name"].str.contains('New York County|Bronx County|Richmond County|Kings County|Queens County')]
df_race

,Geography,2010,Geographic Area Name,Estimate!!Total,Estimate!!Total!!White alone,Estimate!!Total!!Black or African American alone,Estimate!!Total!!American Indian and Alaska Native alone,Estimate!!Total!!Asian alone,Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Some other race alone,Estimate!!Total!!Two or more races,Estimate!!Total!!Two or more races!!Two races including Some other race,"Estimate!!Total!!Two or more races!!Two races excluding Some other race, and three or more races"
89,1400000US36005000100,2010,"Census Tract 1, Bronx County, New York",11517,1620,6502,14,216,0,2699,466,360,106
90,1400000US36005000200,2010,"Census Tract 2, Bronx County, New York",4286,622,1325,38,183,0,2089,29,24,5
91,1400000US36005000400,2010,"Census Tract 4, Bronx County, New York",4893,561,1129,0,115,0,2848,240,33,207
92,1400000US36005001600,2010,"Census Tract 16, Bronx County, New York",5140,983,1840,0,0,0,2193,124,28,96
93,1400000US36005001900,2010,"Census Tract 19, Bronx County, New York",2142,797,1017,20,51,0,251,6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4298,1400000US36085030302,2022,Census Tract 303.02; Richmond County; New York,6374,2795,1619,0,918,0,686,356,313,43
4299,1400000US36085031901,2022,Census Tract 319.01; Richmond County; New York,3674,858,1691,0,224,0,155,746,701,45
4300,1400000US36085031902,2022,Census Tract 319.02; Richmond County; New York,5053,952,2592,43,217,0,782,467,347,120
4301,1400000US36085032300,2022,Census Tract 323; Richmond County; New York,1133,261,430,0,21,0,119,302,63,239
4302,1400000US36085990100,2022,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,0,0